<%= form_for @user, url:"/users/create" do |f| %>
  <h2>Тќ░УдЈТіЋуе┐</h2>
  <%= f.label :name %>
  <%= f.text_field :name%>
  <%= f.label :age%>
  <%= f.text_field :age%>
  <input type="submit" value="ТіЋуе┐">
<% end %>


